*{
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
}
header{
	width: 100%;
}
#header{
	width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 3%;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
  font-family: Source Code Pro;
  color: white;
  margin-left: 15%;
  transition: 0.75s;
}
ul :hover {
  text-shadow: 0px 0px 10px red;
  font-weight: bolder;
  font-size: 1.2em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}