*{
	padding: 0px;
	margin: 0px;
	font-family: Roboto;
}
header{
	width: 100%;
}
#header{
	width: 100%;
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
  font-family: Source Code Pro;
  color: white;
  margin-left: 15%;
  transition: 0.75s;
}
ul :hover {
  text-shadow: 0px 0px 10px red;
  font-size: 1.2em;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#Descripcion{
  padding-top: 20px;
  background: #F6F6F6;
  width: 90%;
  margin: 2%;
}

#Temporadas{
   width: 30%;
  float:left;
  margin-left: 2%;
}
.content {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 2px solid #eee
}

.reparto{
  border: 2px solid #eee;
  border-bottom:2px solid #eee;
  margin-left: 50%;
  width: 45%;
}

.mainCast{
  width: 20%;
}
td{
  text-align: center;
}
footer{
  width: 100%;
  background-color: black;
  color: white;
  padding: 1%;
  text-align: center;
}
video{
  margin-left: 25%
}